---
---
{% assign lang = page.lang | default: "en-us" %}
<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
  {% include head.html %}
</head>
<body>
  <!-- Google Tag Manager (noscript) - Temporariamente desabilitado -->
  {% comment %}
  {% assign gtm_id = site.google_analytics_container %}
  {% if gtm_id and gtm_id != empty %}
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ gtm_id }}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  {% endif %}
  {% endcomment %}
  <!-- End Google Tag Manager (noscript) -->
  {{ content }}
  {% include github-corner.html %}
</body>
</html>
