---
layout: page
---

{% assign sorted_questions = site.interview_questions | sort: "order" %}
{% assign current_index = nil %}
{% for q in sorted_questions %}
    {% if q.url == page.url %}
        {% assign current_index = forloop.index0 %}
    {% endif %}
    {% endfor %}
{% assign previous_index = current_index | minus: 1 %}
{% assign next_index = current_index | plus: 1 %}
{% assign previous_question = sorted_questions[previous_index] %}
{% assign next_question = sorted_questions[next_index] %}

<article class="interview-question">
    <header class="question-header">
        <p class="question-meta">
            <strong>Question &mdash;</strong>
            <span class="question-order">{{ page.order }}</span>
        </p>
        <p class="question-meta">
            {% if page.tags %}
            <strong>Tags &mdash;</strong>
            <span class="question-tags">{{ page.tags | join: ', ' }}</span>
            {% endif %}
        </p>
    </header>
    <div class="question-content">
        {{ content }}
    </div>
    <nav class="pagination">
        {% if previous_question %}
        <a href="{{ previous_question.url }}" class="previous button button-ghost"
            aria-label="Previous question">&laquo; Question {{ previous_question.order }}</a>
        {% else %}
        <span class="prev button button-ghost disabled" aria-disabled="true">&laquo; Previous</span>
        {% endif %}
        <a href="/blog/pt-br/interview/questoes-para-entrevistas/" class="all-questions button button-ghost"
            aria-label="All questions">All Questions</a>
        {% if next_question %}
        <a href="{{ next_question.url }}" class="next button button-ghost" aria-label="Next question">Question {{
            next_question.order }} &raquo;</a>
        {% else %}
        <span class="next button button-ghost disabled" aria-disabled="true">Next &raquo;</span>
        {% endif %}
    </nav>
</article>