---
layout: print
---

<section class="main-container">
  <article role="article" class="page card" style="float: right;">{% include print/skills.md %}</article>
  <article role="article" class="page card">{% include print/goal.md %}</article>
  <article role="article" class="page card">{% include print/graduation.md %}</article>
</section>
<section>
  <article role="article" class="page card">{% include print/experiences.md %}</article>
  <article role="article" class="page card">{% include print/courses.md %}</article>
</section>
