<!DOCTYPE html>
<html>
<head>
  {% include head.print.html %}
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_analytics_container }}"height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {% assign lang = page.lang | default: "en-us" %}

  {% include header.print.html %}
  {{ content }}
  <script>
    alert('{{ site.messages[lang].print-alert }}');
    print();
  </script>
</body>
</html>
