<form id="contact" method="POST" action="https://formsubmit.co/matheus.costa.vieira@gmail.com">
    <input type="hidden" name="_next" value="https://end2endsystems.github.io/contact/thanks" />
    <input type="hidden" name="_language" value="en-US" />
    <label for="email">Your E-mail:</label>
    <input type="email" name="email" id="email" placeholder="Your email" required />
    <label for="_subject">Subject:</label>
    <input type="text" name="_subject" id="_subject" placeholder="Type a subject!" required />
    <label for="message">Message:</label>
    <textarea name="message" id="message" placeholder="Your message" required></textarea>
    <button type="submit" class="btn btn-ghost">Send</button>
</form>