{% assign lang = page.lang | default: "en-us" %}

<h2>{{ site.messages[lang].print-resume.core-competencies-title }}</h2>

<ul>
    <li itemprop="skills"><strong>{{ site.messages[lang].print-resume.title.backend-development }}</strong>: {{ site.messages[lang].print-resume.backend-development }}</li>
    <li itemprop="skills"><strong>{{ site.messages[lang].print-resume.title.frontend-development }}</strong>: {{ site.messages[lang].print-resume.frontend-development }}</li>
    <li itemprop="skills"><strong>{{ site.messages[lang].print-resume.title.cloud-devops }}</strong>: {{ site.messages[lang].print-resume.cloud-devops }}</li>
    <li itemprop="skills"><strong>{{ site.messages[lang].print-resume.title.databases }}</strong>: {{ site.messages[lang].print-resume.databases }}</li>
    <li itemprop="skills"><strong>{{ site.messages[lang].print-resume.title.messaging-caching }}</strong>: {{ site.messages[lang].print-resume.messaging-caching }}</li>
    <li itemprop="skills"><strong>{{ site.messages[lang].print-resume.title.testing-quality }}</strong>: {{ site.messages[lang].print-resume.testing-quality }}</li>
    <li itemprop="skills"><strong>{{ site.messages[lang].print-resume.title.observability }}</strong>: {{ site.messages[lang].print-resume.observability }}</li>
    <li itemprop="skills"><strong>{{ site.messages[lang].print-resume.title.version-control }}</strong>: {{ site.messages[lang].print-resume.version-control }}</li>
</ul>