{% assign lang = page.lang | default: "en-us" %}

<h2>{{ site.messages[lang].print-resume.title.experiences }}</h2>

{% assign sorted = site.experiences | sort: 'resignationdate' | reverse %}
{% assign end2end = sorted | where_exp: "item", "item.company contains 'End2End'" | first %}
{% assign other_experiences = sorted %}
{% assign list = "" | split: "" %}
{% if end2end %}
{% assign list = list | push: end2end %}
{% endif %}
{% assign list = list | concat: other_experiences %}

{% for i in (0..site.max_experiences) %}
{% if list[i] %}
<article class="experience" itemscope itemtype="https://schema.org/WorkExperience">
  <h3 itemprop="jobTitle">{{ list[i][lang].jobtitle }}</h3>
  <p>
    <span itemprop="hiringOrganization">{{ list[i].company }}</span> -
    <time itemprop="startDate" datetime="{{ list[i].admissiondate }}">{{ list[i].admissiondate | date: "%Y" }}</time>
    {% if list[i].resignationdate %}
    - <time itemprop="endDate" datetime="{{ list[i].resignationdate }}">{{ list[i].resignationdate | date: "%Y"
      }}</time>
    {% else %}
    - {{ site.messages[lang].print-resume.title.current }}
    {% endif %}
  </p>
  <p itemprop="description">Main responsibilities and achievements:</p>
  {{ list[i][lang].description }}
</article>
{% endif %}
{% endfor %}