{% assign lang = page.lang | default: "en-us" %}
<section class="resume-header-grid" aria-label="{{ site.messages[lang].header-container }}">
  <div class="resume-header-name">
    <h1 itemprop="name">{{ site.author.full-name }}</h1>
  </div>
  <div class="resume-header-contacts">
    <p itemprop="address">{{ site.messages[lang].print-resume.location }}</p>
    <p>
      <strong>Phone:</strong>
      <a href="tel:{{ site.author.cellphone | strip }}" itemprop="telephone">{{ site.author.cellphone | strip }}</a>
    </p>
    <p>
      <strong>Email:</strong>
      <a href="mailto:{{ site.author.email }}" itemprop="email">{{ site.author.email }}</a>
    </p>
    <p>
      <strong>LinkedIn:</strong>
      <a href="{{ site.author.linkedin }}" itemprop="sameAs">LinkedIn Profile</a>
    </p>
  </div>
</section>