<ul class="social">
  <li><a href="mailto:{{ site.author.email }}" title="Personal mail" target="_blank"><i class="icon icon-mail"></i></a></li>
  <li><a href="mailto:{{ site.author.email-prof }}" title="Teacher mail" target="_blank"><i class="icon icon-mail3"></i></a></li>
  <li><a href="{{ site.author.gplus }}" title="Google Plus Profile" target="_blank"><i class="icon icon-google-plus"></i></a></li>
  <li><a href="{{ site.author.github }}" title="Github Profile" target="_blank"><i class="icon icon-github"></i></a></li>
  <li><a href="{{ site.author.twitter }}" title="Twitter Profile" target="_blank"><i class="icon icon-twitter"></i></a></li>
  <li><a href="{{ site.author.facebook }}" title="Facebook Profile" target="_blank"><i class="icon icon-facebook"></i></a></li>
  <li><a href="{{ site.author.linkedin }}" title="LinkedIn Profile" target="_blank"><i class="icon icon-linkedin"></i></a></li>
  <li><a href="{{ site.author.instagram }}" title="Instagram Profile" target="_blank"><i class="icon icon-instagram"></i></a></li>
  <li><a href="{{ site.author.whatsapp }}" title="Send me an whatsapp" target="_blank"><i class="icon icon-whatsapp"></i></a></li>
  <li><a href="tel:{{ site.author.phone }}" title="Call me" target="_blank"><i class="icon icon-phone"></i></a></li>
</ul>
<a href="//francescocirillo.com/pages/anti-if-campaign"><img height="60" width="120" src="//cdn.shopify.com/s/files/1/0257/1675/t/147/assets/banner_ive-joined.gif" alt="I have joined Anti-IF Campaign"></a>
