<ul class="social">
  <li><a href="mailto:{{ site.author.email }}" title="Personal mail" target="_blank"><i class="icon icon-mail"></i></a></li>
  <li><a href="{{ site.author.github }}" title="Github Profile" target="_blank"><i class="icon icon-github"></i></a></li>
  <li><a href="{{ site.author.twitter }}" title="Twitter Profile" target="_blank"><i class="icon icon-twitter"></i></a></li>
  <li><a href="{{ site.author.facebook }}" title="Facebook Profile" target="_blank"><i class="icon icon-facebook"></i></a></li>
  <li><a href="{{ site.author.linkedin }}" title="LinkedIn Profile" target="_blank"><i class="icon icon-linkedin"></i></a></li>
  <li><a href="{{ site.author.whatsapp }}" title="Send me an whatsapp" target="_blank"><i class="icon icon-whatsapp"></i></a></li>
  <li><a href="tel:{{ site.author.phone }}" title="Call me" target="_blank"><i class="icon icon-phone"></i></a></li>
  <li><a href="{{ '/tools/' | relative_url }}" title="Tools"><i class="icon icon-wrench"></i></a></li>
  <!-- <li><a href="{{ '/questions/' | relative_url }}" title="Questions"><i class="icon icon-question"></i></a></li> -->
</ul>